.lojas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4rem;

  padding-block: 12rem;
}

.lojas h2 {
  grid-column: 1/-1;

  margin-bottom: 6rem;
}

.lojas img {
  border-radius: 0.4rem 0.4rem 0 0;
}

.lojas-item {
  border-radius: 0.4rem;

  background: var(--cor-0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lojas-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem 1.6rem;

  padding: 3.2rem;
}

.lojas-content h3,
.lojas-tempo {
  grid-column: 1/-1;
}

.lojas-data {
  display: grid;
  gap: 0.8rem;

  border-left: 2px solid var(--cor-2);

  padding-left: 1.2rem;
}

.lojas-tempo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media (max-width: 800px) {
  .lojas {
    gap: 2rem;
    padding-block: 6rem;
  }

  .lojas h2 {
    margin-bottom: 3.2rem;
  }

  .lojas-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .lojas {
    grid-template-columns: 1fr;
  }
}
