.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);

  overflow: hidden;
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 0;
}

.depoimento-content {
  padding: 4rem 4rem 8rem 8rem;

  font: 600 2.4rem/1.5 'Poppins', sans-serif;

  align-self: end;

  background: url(../../img/dec/bottom-right-p.svg) no-repeat bottom 4rem right
    4rem;
}

.depoimento-content p {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 900;

  margin-bottom: 3.2rem;
  max-width: 32ch;

  position: relative;
}

.depoimento p::before {
  content: '“';

  left: -5rem;
  top: -2rem;
}

.depoimento p::before,
.depoimento p::after {
  font-size: 8rem;
  color: var(--cor-p2);

  position: absolute;
}

.depoimento p::after {
  content: '”';
}

@media (min-width: 1200px) {
  .depoimento img {
    max-height: 52rem;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;

    text-align: center;
  }

  .depoimento-content {
    padding: 4rem 4rem 2rem 2rem;

    justify-self: center;
  }

  .depoimento img {
    max-height: 20rem;
  }
}
