.parceiros {
  padding-top: 6rem;
  padding-bottom: 12rem;
}

.parceiros h2h {
  margin-bottom: 6rem;
}

.parceiros ul {
  padding: 0 2rem;
  margin: 0 auto;

  max-width: 140rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
  padding: 3.2rem;

  display: flex;
  
  border-left: 2px solid var(--cor-2);
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}

.parceiros img {
  margin: auto;
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 6rem;
  }

  .parceiros h2 {
    margin-bottom: 2rem;
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li {
    padding: 2rem;
  }

  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }

  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}
