.perguntas {
  padding-block: 12rem;
}

.perguntas h2 {
  margin-bottom: 6rem;
}

.perguntas dl > div {
  padding: 2rem;

  border-radius: 0.4rem;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--cor-1);
}

.perguntas dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.8rem;

  cursor: pointer;
}

.perguntas dt::before {
  content: '';

  display: inline-block;
  width: 1.2rem;
  height: 0.8rem;

  background: var(--cor-p1);
}

.perguntas dt::after {
  content: '';

  display: inline-block;
  width: 1.2rem;
  height: 0.8rem;

  background: url(../../img/icones/seta-abrir.svg);

  transition: 0.3s;
}

.perguntas dt:hover::after {
  transform: rotate(180deg);
}

.perguntas dd {
  padding-left: 2rem;
  padding-top: 1.6rem;

  max-width: 80ch;
}

@media (max-width: 800px) {
  .perguntas {
    padding-block: 6rem;
  }

  .perguntas h2 {
    margin-bottom: 4rem;
  }
}
