.seguros-bg {
  background: var(--cor-11);
}

.seguros {
  padding-block: 6rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

#seguros .seguros {
  padding-top: 0;
}

.seguros h2 {
  grid-column: 1/-1;
}

.seguro-item {
  background: var(--cor-12);

  padding: 3.2rem 3.2rem 3.2rem 6rem;

  display: grid;
  grid-template-columns: 1fr auto;

  border-radius: 0.4rem;
}

.seguro-item h3 {
  margin-bottom: 4rem;
}

.seguro-item span {
  grid-column: 2;
  display: block;

  text-align: right;
}

.seguro-item ul {
  grid-column: 1/-1;

  margin-bottom: 3.2rem;
}

.seguro-item li {
  display: flex;
  align-items: center;

  position: relative;
}

.seguro-item li + li {
  margin-top: 2rem;
}

.seguro-item li::before {
  content: '';
  width: 1.3rem;
  height: 0.9rem;

  display: block;

  background: url(../../img/icones/lista.svg);

  position: absolute;
  left: -2.1rem;
}

.seguro-item a {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
}
