.footer-bg {
  background: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 4rem;

  padding-block: 6rem;
}

.footer h2 {
  margin-bottom: 3.2rem;
}

.footer li {
  margin-bottom: 1.6rem;
}

.footer-contato ul {
  margin-bottom: 3.2rem;
}

.footer-contato li:nth-child(even):after {
  content: '';

  display: block;

  max-width: 36rem;
  height: 0.2rem;

  background: var(--cor-11);

  margin-top: 1.6rem;
}

.footer-redes {
  display: flex;
  gap: 3.2rem;
}

.footer-info ul {
  font: 500 1.8rem/2 'Poppins', sans-serif;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;

  margin-top: 4rem;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  .footer-copy {
    margin-top: 0;
  }
}
