* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;

  padding-bottom: 60rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  
  display: block;
}

img[src$='.jpg'] {
  border-radius: 0.4rem;
}
