.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  margin-inline: auto;

  max-width: 120rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.header-menu a {
  display: inline-block;
  position: relative;

  padding: 1.6rem 0;

  font-size: 1.8rem;
}

.header-menu a:after {
  content: '';
  height: 0.2rem;
  width: 0;

  background: var(--cor-0);

  margin-top: 0.4rem;

  transition: 0.3s;

  position: absolute;
  display: block;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 2rem;
  }
  .header-menu a {
    background: var(--cor-11);
    border-radius: 0.4rem;

    padding: 1.2rem 1.6rem;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 1.2rem;
  }
  .header-menu a {
    padding: 0.8rem 1.2rem;
    
    font-size: 1.4rem;
  }
}
