#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;

  padding-bottom: 12rem;
}

.orcamento h2 {
  text-transform: uppercase;

  position: relative;

  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: '';

  display: inline-block;
  width: 0.4rem;
  height: 0.8rem;

  background: var(--cor-p1);

  position: absolute;
  left: -1.2rem;
}

.orcamento-prod,
.orcamento-data {
  padding: 6rem;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-prod {
  border-radius: 0.5rem 0 0 0.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 2rem;

  background: var(--cor-12) url(../../img/dec/bottom-left.svg) no-repeat bottom
    2rem left 2rem;
}

.orcamento-prod > * {
  grid-column: 1/-1;
}

.orcamento-prod > label {
  grid-column: initial;
}

.orcamento-prod label::before {
  content: '';

  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;

  border: 1px solid var(--cor-6);
  border-radius: 50%;

  margin-right: 0.8rem;
}

.orcamento-prod input:checked + label::before {
  border-color: var(--cor-7);

  box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}

.orcamento-prod label {
  color: var(--cor-4);
  font: 400 1.6rem/1.5 'Poppins', sans-serif;

  background: var(--cor-10);

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 1.2rem 1.6rem;

  border: 1px solid var(--cor-10);
  border-radius: 0.4rem;

  cursor: pointer;
}

.orcamento-prod label:hover {
  background: var(--cor-9);
  border-color: var(--cor-9);
}

.orcamento-prod input:focus + label {
  box-shadow: 0 0 0 2px var(--cor-p1);
  border-color: var(--cor-12);
}

.orcamento-prod input:checked + label {
  background: var(--cor-0);

  color: var(--cor-11);
}

.orcamento-prod label span {
  display: none;
}

.orcamento-prod input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-prod input:checked + label span {
  display: inline-block;
}

.orcamento-content h2,
.orcamento-data h2:nth-of-type(n + 2) {
  margin-top: 2rem;
}

.orcamento-content {
  display: none;
}

.orcamento-data {
  border-radius: 0 0.5rem 0.5rem 0;

  background: var(--cor-0) url(../../img/dec/bottom-left.svg) no-repeat bottom
  2rem right 2rem;;
}

#bikcraft:checked ~ #orcamento-bik,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 2rem;
}

.orcamento-detail {
  display: none;
  background: var(--cor-0);

  padding: 2rem;

  grid-template-columns: 1fr 1fr;
  align-items: center;

  border-radius: 0.4rem;
}

.orcamento-detail li {
  display: flex;
  align-items: center;

  margin-bottom: 0.8rem;
}

.orcamento-detail li img {
  width: 1.6rem;

  margin-right: 0.8rem;
}

.orcamento-prod input:checked + label + .orcamento-detail {
  display: grid;
}

@media (max-width: 1200px) {
  .orcamento-prod,
  .orcamento-data {
    padding: 3.2rem;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }

  .orcamento-data {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .orcamento-prod {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

@media (max-width: 400px) {
  .orcamento-prod {
    grid-template-columns: 1fr;
  }
}
