.bicicletas-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  padding-block: 6rem;
}

.bicicletas-img {
  position: relative;
}

.bicicletas-img span {
  background: var(--cor-12);

  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  display: inline-block;

  position: absolute;
  top: 2rem;
  right: 0;

  border-radius: 0.4rem 0 0 0.4rem;
}

.bicicletas-content {
  display: grid;
  grid-template-columns: 1fr auto;

  align-content: start;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 2rem;
}

.bicicletas h2::before {
  content: '';

  display: block;
  width: 1.2rem;
  height: 0.8rem;
  margin-bottom: 0.8rem;

  background: var(--cor-p1);
}

.bicicletas p {
  margin-bottom: 3.2rem;
}

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.bicicletas-content img {
  width: 2.4rem;

  gap: 0.8rem;
}

.bicicletas li + li {
  margin-top: 1.6rem;
}

@media (max-width: 800px) {
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 2rem;

    padding-block: 4rem;
  }

  .bicicletas-bg {
    background: var(--cor-11);
  }
}

@media (max-width: 600px) {
  .bicicletas-content {
    grid-template-columns: 1fr;
  }

  .bicicletas ul {
    grid-template-columns: 1fr 1fr;

    margin-bottom: 3.2rem;

    font-size: 1.6rem;
  }

  .bicicletas a {
    place-self: start;
  }
}
