.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 4rem;

  padding-block: 6rem;
}

#bicicleta .titulo p {
  text-transform: uppercase;
}

.bicicleta-img {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.bicicleta-img img {
  flex: 1;

  min-width: 20rem;
}

.bicicleta-img img:first-child {
  min-width: 100%;
}

.bicicleta-content > p {
  margin-bottom: 3.2rem;
}

.bicicleta-grid {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 0.8rem 1.2rem;
  margin-bottom: 4rem;
}

.bicicleta-grid a {
  grid-row: span 2;
}

.bicicleta-grid span {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  gap: 0.8rem;

  background: var(--cor-12);

  border-radius: 0.4rem;
}

.bicicleta-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;

  margin-bottom: 1.2rem;
}

.bicicleta-info,
.bicicleta-ficha {
  padding: 3.2rem;

  background: var(--cor-12);

  border-radius: 0.4rem;
}

.bicicleta-info {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.bicicleta-info img {
  width: 2.4rem;
  margin-bottom: 0.8rem;
}

.bicicleta-info h3 {
  margin-bottom: 0.8rem;
}

.bicicleta-ficha li {
  padding: 0.4rem 0;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--cor-11);
}

.bicicleta-ficha li:last-child {
  border: none;
}

.bicicleta-ficha span {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;

    padding-block: 4rem;
  }

  .bicicleta-img {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bicicleta-info {
    grid-template-columns: 1fr;
  }

  .bicicleta-grid {
    grid-template-columns: 1fr;
  }
}
