.seguro-bg {
  background: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-12);
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.seguro-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.seguro-content {
  padding-block: 18rem;
}

.seguro h2 {
  margin-bottom: 3.2rem;
}

.seguro p {
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .seguro-bg {
    box-shadow: inset 0 -60px var(--cor-12);
  }

  .seguro {
    grid-template-columns: 1fr;
  }

  .seguro-img {
    height: 20rem;
  }

  .seguro-content {
    grid-row: 1;

    padding-top: 4rem;
    padding-bottom: 0;
  }
}
