.container {
  padding-inline: 2rem;
  margin-inline: auto;

  max-width: 120rem;
}

.botao {
  display: inline-block;

  padding: 16px 32px;

  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.8rem/1.35 'Poppins', sans-serif;

  max-width: max-content;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.link {
  display: inline-block;

  color: var(--cor-p1);
  font: 500 2.4rem/1.5 'Poppins', sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: '';
  height: 0.4rem;
  width: 100%;

  display: block;

  background: currentColor;
}

.botao.secundario {
  background: var(--cor-10);

  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.link:hover {
  color: var(--cor-0);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: '';

  display: inline-block;
  width: 1.8rem;
  height: 1rem;

  margin-left: 1.2rem;

  background: url(../../img/icones/seta.svg);

  transition: transform 0.2s;
}

.botao.seta:hover::after {
  transform: translateX(0.4rem);
}

@media (max-width: 600px) {
  .botao {
    padding: 1.2rem 1.6rem;

    font-size: 1.6rem;
  }
}

/* Titulo interno */
.titulo-bg {
  background: var(--cor-11);

  padding-block: 6rem;
}

.titulo p {
  margin-bottom: 0.4rem;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-block: 4rem;
  }

  .titulo p {
    font-weight: 400;
    text-transform: lowercase;
  }
}
