.container {
  padding-inline: 2rem;
  margin-inline: auto;

  max-width: 120rem;
}

.botao {
  display: inline-block;

  padding: 16px 32px;

  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.8rem/1.35 'Poppins', sans-serif;
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 2.4rem/1.5 'Poppins', sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.4rem;
  background: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 1.2rem 1.6rem;

    font-size: 1.6rem;
  }
}
