.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form label {
  display: block;
  margin-bottom: 0.4rem;

  font: 400 1.6rem/1.5 'Poppins', sans-serif;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type='text'],
.form input[type='email'],
.form textarea {
  font: 400 1.6rem/1.5 'Roboto', sans-serif;

  background: var(--cor-1);
  border: 1px solid var(--cor-2);
  border-radius: 0.4rem;

  padding: 1.2rem;
  width: 100%;
}

.form input[type='text']:focus,
.form input[type='email']:focus,
.form textarea:focus {
  outline: none;

  border-color: var(--cor-p1);
  background-color: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form .col-2 {
    grid-column: 1;
  }
}